___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [2]:
1 + 1   #addition

2

In [7]:
1 * 3   #multiplication

3

In [8]:
1 / 2   #division

0.5

In [9]:
2 ** 4   #potentiation

16

In [8]:
4 % 2   #remainder

0

In [11]:
5 % 2

1

In [12]:
(2 + 3) * (5 + 5)   #parenthesis for order of operations

50

### Variable Assignment

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [17]:
x = 2
y = 3

In [18]:
z = x + y

In [19]:
z #the stored value of z is always the last, iterative operations will increase that value

5

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [20]:
x = 'hello'

In [21]:
x #this is not a print, but a demonstration of a string

'hello'

In [22]:
print(x)    #this will print the inside of the string

hello

In [21]:
num = 12
name = 'Sam'

In [22]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))
   # assign secondary variables to the base variable

My number is: 12, and my name is: Sam

In [23]:
print('My number is: {}, and my name is: {}'.format(num,name))
   # variable implementation respects order of format() arguments

My number is: 12, and my name is: Sam

In [24]:
s = 'hello'

In [25]:
s[0]    # grabs the corresponding letter of the string. 0 corresponds to 1st

'h'

In [30]:
s[0:]       # slice notation -> grabs a slice of the string, and not only a letter
# "grab everything starting at position 0"

'hello'

In [40]:
s[0:2]   # "grabs everything between positions 0 and 2"

'he'

In [31]:
s[:3]    # "grab everything to the left, but NOT including 3"

'hel'

### Lists (or Arrays)

In [41]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [28]:
my_list = ['a','b','c']

In [29]:
my_list.append('d')   # adds another string to the array

In [30]:
my_list

['a', 'b', 'c', 'd']

In [31]:
my_list[0]   # the same slice notation syntax

'a'

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

In [35]:
my_list[0] = 'NEW'    # re-defines what the string on position 0 now is

In [98]:
my_list

['NEW', 'b', 'c', 'd']

In [44]:
nest = [1,2,3,[4,5,['target']]]    # we can store arrays as a string itself
                                   # the comma is the ultimate delimiter

In [45]:
nest[3]    # returns the string on position 3, which is the array

[4, 5, ['target']]

In [46]:
nest[3][2]    # returns position 3, on which the position 2 is what we want

['target']

In [47]:
nest[3][2][0]    
# only one argument on that array, so 0 is the only string there = same result

'target'

In [48]:
print(nest[3][2][0]) # so after this, we can print the result

target

### Dictionaries

In [37]:
d = {'key1':'item1','key2':'item2'}    # key-value pairs.
                      # you can have whatever pairs of data types you want

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']    # bracket notation must pass the actual key itself, not position

'item1'

### Booleans

In [40]:
True    # first letter is always capitalized

True

In [41]:
False

False

### Tuples

In [42]:
t = (1,2,3)   # instead of [] used in lists, we use () in tuples

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'    # non-redefinable item sets (tuples are IMMUTABLE)
      # use tuples when the user must not be able to change the data

TypeError: 'tuple' object does not support item assignment

### Sets

In [45]:
{1,2,3}

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}    # yields only unique elements

{1, 2, 3}

In [49]:
set([1,2,3,1,2,3,4,1,2])    # the set() function yields unique elements of an array

{1, 2, 3, 4}

In [53]:
s = {1,2,3}        # define a set as variable 's'
s.add(5)           # add element '5' to the set
s                  # inspect set, and see that .add() function added 5

{1, 2, 3, 5}

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1    # greater or equal than

True

In [50]:
1 <= 4   # less or equal than

True

In [51]:
1 == 1   # '=' does variable assignment    # '==' checks out equality

True

In [55]:
1 != 1   # inequality syntax

False

In [52]:
'hi' == 'bye'

False

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)    # 'and' operator -> all conditions must be true

False

In [54]:
(1 > 2) or (2 < 3)     # 'or' operator -> only one condition must be true

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [56]:
if 1 < 2:           # if condition is True, execute block of code below
    print('Yep!')   # Python does not use bracket indentation, only tab spaces

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [58]:
if 1 < 2:
    print('first')
else:                   #  if conditions above are False, 'else' runs
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:                   # first 'if' returns False...
    print('middle')            # ...but 'elif' throws another 'if' block
else:
    print('Last')   # if atleast one 'elif' is true, it doesn't matter how
                    # much block of code is left, the print is performed

middle

## for Loops

In [61]:
seq = [1,2,3,4,5]

In [62]:
for item in seq:    # iterates through the 'seq' array, element by element
    print(item)     # the 'item' element can be whatever: it can be 'jelly'!

1
2
3
4
5

In [63]:
for item in seq:     # perform an action while there is an item
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)    # print can be a math operation of each item

2
4
6
8
10

## while Loops

In [62]:
i = 1                              # initialize 'i' variable as = 1
while i < 5:                       # while the variable is not 5
    print('i is: {}'.format(i))    # do this
    i = i+1                        # and proceed to the next integer.
                                   # if this line is not here: infinite loop

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [65]:
range(5)    # the range() function is a generator of numerical integer values

range(0, 5)

In [67]:
for i in range(5):     # the argument is actually the length
    print(i)           # doesn't really go to i = 5

0
1
2
3
4

In [68]:
list(range(5))     # create a list (an array) quickly by using range

[0, 1, 2, 3, 4]

## list comprehension

In [69]:
x = [1,2,3,4]

In [70]:
out = []                      # create an empty output list: 'out'
for item in x:
    out.append(item**2)       # add to new list 'out' an operation on the
print(out)                    # values of the old list 'x'

[1, 4, 9, 16]

In [71]:
[item**2 for item in x]    # list comprehension like this allows to quickly
              # create a new list without doing all the for loop block above
                   #essentially: for + .append() === [new for item in old]

[1, 4, 9, 16]

## functions

In [108]:
def my_func(param1='default'):    # def allows to define a function
    """                            
    Docstring goes here.          # this is just a multi line comment
    Example of description.       # if we Shift+Tab the function, it will show this
    """                           # just like /* */ in SQL
    print(param1)

In [109]:
my_func   # Without (), you're asking Python: "Hey what object is this?"

# Answer: This is a main function, called my_func, with parameter 'default'

In [77]:
my_func()   # With (), it will call the function

default

In [78]:
my_func('new param')

new param

In [80]:
my_func(param1='new param') 
# if we don't specify an argument to the function
# the result will be 'new param'

new param

In [88]:
def welcome(name):
    print('Hello ' + name) #string concatenation to the initial function param
welcome('Carolina')

Hello Carolina

In [100]:
def square(x):         # square() will do x^2 
    return x**2        # return enables to store results in a variable

In [106]:
out = square(2)        # save the result in variable 'out' when x = 2

In [107]:
print(out)             # print the result to the shell

#Conclusion: print does not save, return saves results to variables

4

## lambda expressions

In [122]:
def times2(var):
    return var*2

In [123]:
times2(2)

4

In [124]:
lambda var: var*2     # quick function for single use.
                      # lambda is a def:return pair === input:output
    # a lambda expression is a function that can be stored in a variable

In [125]:
t = lambda var: var*2

## map and filter

In [126]:
seq = [1,2,3,4,5]

In [127]:
map(times2,seq)     # map() applies a function to a defined array
                    # map(function, object)

In [128]:
list(map(times2,seq))     # store the results in a list

[2, 4, 6, 8, 10]

In [129]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [132]:
list(map(t,seq))   # because i put lambda in a variable, works the same

[2, 4, 6, 8, 10]

In [133]:
filter(lambda item: item%2 == 0,seq)  # instead of storing, filters out...

# the filter() function uses a function, such as 'lambda item'
# but the output must be a conditional that returns a boolean!

In [88]:
list(filter(lambda item: item%2 == 0,seq)) # ....and stores the unfiltered

[2, 4]

## methods

In [136]:
st = 'hello my name is Sam'

In [137]:
st.lower()   # lowercases every single letter in a string

'hello my name is sam'

In [138]:
st.upper()   # uppercases everything instead

'HELLO MY NAME IS SAM'

In [139]:
st.split()   # the inverse of concatenation. split at every white space

['hello', 'my', 'name', 'is', 'Sam']

In [140]:
tweet = 'Go Sports! #Sports'

In [141]:
tweet.split('#')   # if we define an argument, it will split when it finds it

['Go Sports! ', 'Sports']

In [143]:
tweet.split('#')[1]   # finds 2nd string after split

'Sports'

In [150]:
d = {'key1':'item1', 'key2':'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

In [151]:
d.keys()   # returns only keys of the dictionary as a list

dict_keys(['key1', 'key2'])

In [152]:
d.values()   # returns only values

dict_values(['item1', 'item2'])

In [154]:
d.items()   # returns items as a list of pairings

# keep in mind that dictionaries DO NOT retain an order

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [157]:
lst = [1,2,3]

In [158]:
lst.pop()   # removes and prints the last item in the list

3

In [159]:
lst         # notice that the removal is permanent

[1, 2]

In [160]:
first = lst.pop(0) # the argument is the element index, so it removes the 1st element
first              # the pop() function can be stored as a variable
lst

[2]

In [109]:
'x' in [1,2,3]   # checks if something is inside a data type, returns boolean

False

In [110]:
'x' in ['x','y','z']

True

In [161]:
x = [(1,2),(3,4),(5,6)] # a variable that contains a list of tuples

In [162]:
x[0][1]   # i can find a value inside a tuple inside a list

2

In [163]:
for item in x:   # very common in Python -> shows data pairs
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [165]:
for (a,b) in x:   # Tuple Unpacking: only yields one of the tuple elements
    print(a)

1
3
5

In [169]:
for (a,b) in x:   # we can print both as well, but they merge weirdly
    print(a)
    print(b)

1
2
3
4
5
6

# Great Job!